html {
  height: 100%;
}

body {
  font-family: 'Open Sans';
  color: #2B2B2B;
  min-height: 100%;
  background: #F5F5F5;
}

body.landing {
  background: #EDEDED;
}

// medium-purple: #7B46A3 - 123, 70, 163
//

.player-header-nav {
   background-color: #231C2E;
   border-radius: 0;
   margin: 0;
}

body .landing .navbar {
  height: 50px;
  margin-bottom: 0;
}

nav {
  margin-bottom: 0;
}


a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

.hero-content {
  font-family: 'Montserrat';
  background: #332945;
  padding: 100px 0;
  color: #E8C67B;
  }

.hero-content h1 {
  font-size: 100px;
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: -11px;
}

.hero-content h3 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -2px;
}

.selling-points {
  padding: 100px 0;
}

.selling-points .point {
  width: 32%;
  float: left;
  padding: 0 0.5%;
}

.selling-points .point h5 {
  font-family: 'Montserrat';
  color: #332945;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
  height: 85px;
}

.selling-points .point p {
  font-size: 17px;
}

.navbar .logo {
  font-family: 'Montserrat';
  color: #E8C67B;
  font-size: 50px;
  font-weight: 700;
}


.album-header-container {
  margin-top: 75px;
  margin-bottom: 60px;
}


// This styles the right side of Album Header
.album-header-information {
  //pushes the album info down and makes sure there's sufficient space at bottom of page.
  margin-top: 45px;
  margin-bottom: 30px;
}

 .album-header-information h3, .album-header-information h4, .album-header-information h5 {
   // Modifying the line height allows us to increase the spacing above and
   // below the content. Another way of achieving the same effect would be to
   // set a margin-top and margin-bottom for each of these classes
   line-height: 150%;
   font-family: 'Montserrat';
  }

 .album-header-information h3 {
   font-size: 48px;
   font-weight: 700;
 }

  .album-header-information h4 {
   font-size: 24px;
 }

  .album-header-information h5 {
   font-size: 16px;
 }

.table.album-song-listing {
   // Override the font for the entire table.
   font-weight: 300;
 }

  .table.album-song-listing  td {
   padding: 16px;
   border-top: 1px solid #DEDEDE;
 }



///////////////////////////////
////   Collection Page     ////
///////////////////////////////

.collection-album-container {
  margin: 30px 15px 0px 15px;
  padding: 0;
  background: white;
  border-radius: 3px;
  z-index: 2;
  -webkit-box-shadow: 1px 1px 0px 1px rgba(219,219,219,0.3);
  -moz-box-shadow: 1px 1px 0px 1px rgba(219,219,219,0.3);
  box-shadow: 1px 1px 0px 1px rgba(219,219,219,0.3);
}

.collection-album-container .caption {
  margin-top: 13px;
}

.collection-album-container .caption p {
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 30px;
}

.collection-album-container .caption p a {
  color: rgba(0, 0, 0, 0.6);
}

.collection-album-container .caption p a.album-name {
  color: black;
}

.collection-album-container img {
  max-width: 100%;
  border-radius: 3px 3px 0 0
}

.collection-album-container .collection-album-image-container {
  position: relative;
}
 
.collection-album-container .collection-album-image-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 10;
}
 
.collection-album-container .collection-overlay-content {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
 
.collection-album-container .collection-overlay-button {
  font-size: 20px;
  background-color: white;
  color: #332945;
  border-radius: 50% 50%;
  display: inline-block;
  width: 42px;
  height: 42px;
}

.collection-album-container .collection-overlay-button:hover {
  cursor: pointer;
  color: white;
  background-color: #332945;
}
 
.collection-album-container .collection-overlay-button i {
  line-height: 42px;
}
 
.collection-album-container .collection-overlay-button .fa-play {
  padding-left: 5px;
}





















