<div class="collection-container container">
  <div class="row">
    
    <!-- Album Container -->
    <div class="collection-album-container col-md-2"
         ng-repeat="album in albums">

      <!-- Album Image Container    -->
      <div class="collection-album-image-container"
           ng-mouseenter="showOverlay = true" 
           ng-mouseleave="showOverlay = false" >
        
        <!-- Album Artwork -->
        <img ng-src="{{ album.albumArtUrl }}">
        
        <!-- Album Image Overlay -->
        <div class="collection-album-image-overlay" ng-show="showOverlay">
          
          <!-- Overlay Content -->
          <div class="collection-overlay-content">
            
            <!-- Play Button -->
            <a class="collection-overlay-button" ui-sref="album">
              <i class="fa fa-play"></i>
            </a>
            
            &nbsp;
            
            <!-- Add Button -->
            <a class="collection-overlay-button">
              <i class="fa fa-plus"></i>
            </a>
            
          </div>

        </div> <!-- Album Image Overlay -->
      </div> <!-- Album Image Container -->


      <div class="collection-album-info caption">
        <p>
          <a ui-sref="album" class="album-name">
            {{ album.name }}
          </a>

          <br/>    

          <a ui-sref="album">
            {{ album.artist }}
          </a>  

          <br/>

          {{ album.songs.length }} songs

          <br/>
        </p>
        
      </div>
    </div>
  </div>

  <!-- Player Bar -->
  <ng-include src="'/templates/player_bar.html'"></ng-include>

</div>