<div class="player-bar">
  <div class="container">
   


    <!-- Left Controls -->
    <div class="play-controls player-bar-control-group left controls">
      
      <!-- Previous Button -->
      <a class="previous">
        <i class="fa fa-backward"></i>
      </a>
      
      <!-- Play Button -->
      <a class="play-pause">
        <i class="fa fa-play"></i>
      </a>

      <!-- Next Button -->
      <a class="next">
        <i class="fa fa-forward"></i>
      </a>

    </div>




    <!-- Center Controls -->
    <div class="currently-playing player-bar-control-group">
      
      <!-- Song Name -->
      <h2 class="song-name">
        {{ song.name }} tRaVeLeR
      </h2>

      <!-- Seek Controls -->
      <div class="seek-control">
        
        <!-- Seek Bar -->
        <div class="seek-bar">
          <div class="fill"></div>
          <div class="thumb"></div>
        </div>

        <!-- Current Time -->
        <div class="current-time"> 2:30 </div>

        <!-- Total Time -->
        <div class="total-time"> 4:45</div>
      </div>

      <!-- Artist Name -->
      <h3 class="artist-name"> CaArGo </h3>

    </div>


    <!-- Right Controls -->
    <div class="right-controls player-bar-control-group">
      
      <!-- Volume -->
      <div class="volume">
        
        <!-- Volume Icon -->
        <i class="fa fa-volume-up"></i>
      
        <!-- Seek Bar -->
        <div class="seek-bar">
          <div class="fill"></div>
          <div class="thumb"></div>
        </div>

      </div>


      <div class="queue-toggle">
        <a>
          <i class="fa fa-list-ul"></i>
        </a>
      </div>

    </div>  <!-- player-bar-control-group -->

    


  </div>    <!-- container -->
</div>      <!-- player-bar -->